/* suguna css */
@media only screen and (min-width: 425px) and (max-width: 768px){
	.pricing-block-three .icon{
		text-align: center !important;
	}
	.pricing-block-three h3, h4{
		text-align: center !important;
	}
}
@media only screen and (max-width: 425px){
/* 	Contact Page */
	
		/* Home page*/
.page-id-3694 .suguna_family  .market-leaders-max {
	background: rgb(255 255 255 / 80%);
    border-radius: 10px;
/*     height: 538px !important; */
}
	.page-id-3784 .sec-title.light h2{
		margin-top:10px !important;
	}
}
@media only screen and (min-width: 426px) and (max-width: 768px){
	/* Home page*/
.page-id-3694 .suguna_family  .market-leaders-max {
	background: rgb(255 255 255 / 80%);
    border-radius: 10px;
    height: 413px !important;
}
		.page-id-3694 .suguna_family > .container > .row > div:nth-child(2) > .market-leaders-max{
		height: 292px !important;
	}
	.page-id-3694 .suguna_family > .container > .row > div:nth-child(3) > .market-leaders-max{
		 height: 297px !important;
	}
	.page-id-3694 .suguna_family > .container > .row > div:nth-child(4) > .market-leaders-max{
		 height: 320px !important;
	}
	.page-id-3694 .suguna_family > .container > .row > div:nth-child(5) > .market-leaders-max{
         height: 311px !important;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
	/* Home page*/
.page-id-3694 .suguna_family  .market-leaders-max {
	background: rgb(255 255 255 / 80%);
    border-radius: 10px;
    height: 380px !important;
}
}
@media only screen and (min-width:355px) and (max-width: 425px){
	.testimonial-section .testimonial-thumbs{
		margin-top: -180px !important;
	}
		/* Home page*/
.page-id-3694 .suguna_family  .market-leaders-max {
	background: rgb(255 255 255 / 80%);
    border-radius: 10px;
}
	.chooseus-home-10 .clearfix .inner-box .single-item h3{
		margin-top: 25px;
	}
	.page-id-5665 .chooseus-home-11 .inner-box .single-item{
		width: 90%;
	}
	.page-id-3694 .funfacts-section-two .inner{
		margin-bottom: 100px;
	}
	.features-section-two{
		padding: 0px;
	}
	.sec-title{
		margin-bottom: 0px;
	}
	.features-section-six{
		padding: 0px;
	}
	.features-section-six .video-box .image:before{
		margin-left: 0px;
	}
}
@media only screen and (width: 768px){

	.testimonial-block-five .text{
		padding-top: 0px;
        padding-bottom: 100px;
	}	
	.about-section-six{
		padding: 0px !important;
	}
}
@media only screen and (max-width: 767px){
	.page-id-3798 > .welcome-image-box-eight .inner img{
		flex-direction: column-reverse !important;
	}
	.sec-title.style-two h2{
		margin-top: 50px !important;
	}
	.page-id-5652 .welcome-content-nine .sec-title .style-nine .inner {
		flex-direction: column-reverse !important;
	}
	.page-id-5671 img.attachment-large.size-large{
		margin-top: 0px;
	}
	.page-id-3853 .welcome-section-nine .left-box .single-image-box img{
		padding-top: 25px !important;
	}
	/*.elementor *{
		flex-direction: column-reverse;
	}*/
	.about-section-two{
		padding: 0px !important;
		margin: 0px !important;
	}
	.elementor-3798 .elementor-element.elementor-element-079cdc3 > .elementor-widget-containerP{
		margin-top: 0px !important;
	}
	/*.page-id-3798 > .welcome-section-eight .sec-title .style-eight h2{
		flex-direction: column-reverse !important;
	}*/
	.services-section-three{
		padding: 0px !important;
	}
	.about-section-two .image-block{
		padding-bottom: 0px !important;
	}
	.sec-title h2{
		margin: 30px 0px !important;
	}
	.about-section{
		padding: 0px !important;
	}
	.services-section-four{
		padding: 0px !important;
	}
	.heighlight-section{
		padding-bottom: 0px !important;
	}
	.why-choose-us-section-three{
		padding: 0px !important;
	}
	.page-id-3798 .welcome-content-eight .sec-title .style-eight{
		flex-direction: column-reverse !important;
	}
	.about-section-six{
		padding: 0px !important;
	}
	.about-section-six .image{
		padding: 0px !important;
	}
}
@media only screen and (max-width:320px){
	/* 	CF7 Captcha CSS Starting*/
	.page-id-6885 .rc-anchor-checkbox-label {
    width: 100px !important;
}
	.page-id-6885 .rc-anchor-content{
		height:72px !important;
		width:152px !important;
	}
	.page-id-6885 .rc-anchor-normal{
		width: 260px !important;
	}
	.page-id-6885 .rc-anchor-pt{
		padding-right:57px !important;
	}
	/* 	CF7 Captcha CSS Ending*/
}
@media only screen and (max-width: 320px){

	.page-id-5747 .col-lg-5{
	padding-right: 8px !important;
    padding-left: 8px !important;
}
.page-id-5747 .contact-info-block-three > .inner-box > .icon > img{
	height: auto;
    max-width: 70% !important;
}
	.page-id-5747 .contact-info-block-three ul li{
		font-size:15px !important;
	}
	.page-id-5665 .main-header div>.inner>.bottom-text>p, ul {
    font-size: 15px !important;
	}
	.page-id-5747 .contact-info-block-three .inner-box{
		padding-left: 50px;
	}
	.header-top .contact-info li{
	   font-size: 15px !important;
	}
	.page-id-3694 .suguna_family > .container > .row > div:nth-child(2) > .market-leaders-max{
		height: 483px !important;
	}
	.page-id-3694 .suguna_family > .container > .row > div:nth-child(3) > .market-leaders-max{
		 height: 546px !important;
	}
	.page-id-3694 .suguna_family > .container > .row > div:nth-child(4) > .market-leaders-max{
		 height: 569px !important;
	}
	.page-id-3694 .suguna_family > .container > .row > div:nth-child(5) > .market-leaders-max{
         height: 495px !important;
	}
	.page-id-3694 .award-section-two .owl-theme .owl-nav .owl-next:before{
		right: -5px;
	}
	.page-id-3694 .award-section-two .owl-theme .owl-nav .owl-prev:before{
		left: 9px;
	}
	.page-title .content-box h1{
		font-size: 28px !important;
	}
	.page-id-3857 .owl-carousel .owl-nav {
		margin-top: 30px;}
	.why-choose-us-section-two{
		padding-top: 25px !important;
		padding-bottom: 0px !important;
	}
	/*.service-block-five .inner-box .content-box{
		padding: 25px;
	}*/
	/*.service-block-five h4{
		font-size: 9px;
	}*/
	
.page-id-11353 .about-section-home15 .image-box .text,
.page-id-11466 .about-section-home15 .image-box .text,
.page-id-11553 .about-section-home15 .image-box .text,
.page-id-11567 .about-section-home15 .image-box .text{
    position: absolute;
    top: 48px;
    right: -7px;
    transform: rotate(90deg);
    margin-bottom: 0px;
}
.page-id-11353 .about-section-home15 .image-box .text h2,
.page-id-11466 .about-section-home15 .image-box .text h2,
.page-id-11553 .about-section-home15 .image-box .text h2,
.page-id-11567 .about-section-home15 .image-box .text h2{
	 font-size: 12px;
    line-height: 35px;
}
}
@media only screen and (min-width: 321px) and (max-width: 375px){
	.page-id-3694 .suguna_family > .container > .row > div:nth-child(2) > .market-leaders-max{
		height: 390px !important;
	}
	.page-id-3694 .suguna_family > .container > .row > div:nth-child(3) > .market-leaders-max{
		 height: 468px !important;
	}
	.page-id-3694 .suguna_family > .container > .row > div:nth-child(4) > .market-leaders-max{
		 height: 470px !important;
	}
	.page-id-3694 .suguna_family > .container > .row > div:nth-child(5) > .market-leaders-max{
         height: 444px !important;
	}	
}
@media only screen and (min-width: 376px) and (max-width: 425px){
	.page-id-3694 .suguna_family > .container > .row > div:nth-child(2) > .market-leaders-max{
		height: 375px !important;
	}
	.page-id-3694 .suguna_family > .container > .row > div:nth-child(3) > .market-leaders-max{
		 height: 432px !important;
	}
	.page-id-3694 .suguna_family > .container > .row > div:nth-child(4) > .market-leaders-max{
		 height: 430px !important;
	}
	.page-id-3694 .suguna_family > .container > .row > div:nth-child(5) > .market-leaders-max{
         height: 394px !important;
	}	
}	

@media only screen and (min-width: 321px) and (max-width: 425px){
    
.page-id-11353 .about-section-home15 .image-box .text h2,
.page-id-11466 .about-section-home15 .image-box .text h2,
.page-id-11553 .about-section-home15 .image-box .text h2,
.page-id-11567 .about-section-home15 .image-box .text h2{
	font-size: 18px !important;
    line-height: 35px !important;
}
.page-id-11353 .about-section-home15 .image-box .text,
.page-id-11466 .about-section-home15 .image-box .text,
.page-id-11553 .about-section-home15 .image-box .text,
.page-id-11567 .about-section-home15 .image-box .text{
	position: absolute;
    top: 82px !important;
    right: -15px !important;
    transform: rotate(90deg);
    margin-bottom: 0px;
}
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
	.page-id-11353 .about-section-home15 .image-box .text,
.page-id-11466 .about-section-home15 .image-box .text,
.page-id-11553 .about-section-home15 .image-box .text,
.page-id-11567 .about-section-home15 .image-box .text{
	position: absolute;
    top: 180px !important;
    right: -96px !important;
    transform: rotate(90deg);
    margin-bottom: 0px;
}
}
/* suguna css */
@media only screen and (max-width: 7000px){
	.page-wrapper{
		overflow: hidden;
	}
	
}

@media only screen and (min-width: 1901px){
	.testimonial-block{
		min-height:544px;
	}
}

@media only screen and (max-width: 1400px){
	.testimonial-block {
		padding-left: 50px;
		padding-right: 50px;
	}
	.testimonial-block .inner-box {
		padding-left: 0;
	}
	.testimonial-block .icon {
		position: relative;
		margin-bottom: 20px;
	}
	.testimonial-block .text br,
	.testimonial-block h4 br {
		display: none;
	}
	.news-section .left-column,
	.news-section .right-column {
		width: 100%;
	}
	.news-section .right-column .outer-box {
		margin-left: 0;
		margin-right: 0;
	}
	.news-section::before {
		display: none;
	}
	.news-section .right-column .outer-container {
		max-width: 100%;
	}
	.header-upper.style-two .navbar-right-info {
		display: none;
	}
	.header-style-two .header-upper .auto-container, 
	.header-style-two .sticky-header .auto-container {
		max-width: 1200px;
	}
	.main-header.header-style-three .header-upper .inner-container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.subscribe-newsletter-two {
		background-position: right center;
		background-repeat: no-repeat;
    	background-size: cover;
	}
	.banner-section-two .auto-container,
	.main-header.header-style-five .auto-container {
		padding: 0 15px;
	}
	.clients-section .pattern{
		left:0px;
	}
	.why-choose-us-section .single-feature-item{
		background:rgba(0,0,0,0.7);
		padding:30px 30px 30px 115px;
		border-radius:5px;
		box-shadow:0 0 10px rgba(0,0,0,0.3);
	}
	.why-choose-us-section .single-feature-item:before{
		color:#ffffff;
		left:30px;
		top:35px
	}
	.why-choose-us-section .single-feature-item:after{
		display:none;
	}
}
@media only screen and (max-width: 375px){
.page-id-5747 .content-side{
	padding-right: 8px !important;
    padding-left: 8px !important;
}
	.contact-details-section-three .outer-box{
		    padding: 0px 10px !important;
	}
	.header-top .contact-info-two li{
		border: none;
	}
}
@media only screen and (max-width: 1199px){
	.main-header .header-top .top-middile .language {
	    padding: 26.5px 10px;
	    border: 0px;
	}
	.testimonial-section-five .quote {
		display: none;
	}
	.about-section-seven .shape-two,
	.about-section-seven .shape-one {
		display: none;
	}
	
	.case-block-one .read-more-btn{
		min-height:253px;
	}
}

@media only screen and (max-width: 1139px){

	.main-header .nav-outer .main-menu,	
	.navbar-right-info .sidemenu-nav-toggler,
	.banner-section .owl-theme .owl-nav,
	.testimonial-section .swiper-nav-button,
	.sticky-header{
		display: none !important;
	}
	.nav-outer .mobile-nav-toggler{
		display: block;
		margin-top: 30px;
	}
	.main-header .header-upper .logo-box .logo {
	    padding: 15px 0;
	}
	.main-header .header-top .inner {
		justify-content: center;
	}
	.banner-carousel .content-box.style-two h2,
	.banner-carousel .content-box h2 {
		font-size: 50px !important;
	}
	.header-style-three .nav-outer .mobile-nav-toggler {
		margin: 22px 0;
	}
	.main-header.header-style-four {
		position: relative;
	}
	.banner-section.style-four .banner-carousel .content-box {
		padding-top: 0;
	}
	.header-style-four .navbar-right-info {
		float: left;
	}
	.header-style-four .nav-outer .mobile-nav-toggler {
		margin: 10px 0;
	}
	.header-style-four .header-middle .wrapper-box {
		padding-top: 15px;
	}
	.header-style-four .navbar-right-info .search-toggler {
	    display: none;
	}
	.header-style-four .shopping-cart {
	    display: none;
	}
	.header-style-four .header-upper .social-links {
	    margin: 21px 0;
	}
	.main-header.header-style-five .header-upper .logo-box {
		padding-left: 0;
	}
	.main-header.header-style-five .sidemenu-nav-toggler {
		display: none;
	}
	.blog-single-post .lower-content {
	    padding: 0;
	}
	.testimonial-section-four .wrapper-box {
		margin-right: 0;
	}
	.cta-section{
		padding:110px 0px 84px !important;	
	}
	.cta-section-two .contact-info{
		margin-bottom:20px;	
	}
	.pricing-block-three .price{
		font-size:40px;	
	}
	.case-block-one .read-more-btn{
		min-height:238px;
	}
}
@media only screen and (width:1024px){
	.download-pdf .left-column{
		padding: 36px 115px;
	}
}
@media only screen and (max-width: 1024px){
	.case-block-one .read-more-btn{
		min-height:220px;
	}
	.services-section-two{
		padding: 0px;
	}
}

@media only screen and (max-width: 991px){
	.about-section-six .image {
	    margin-bottom: 40px;
	}
	.about-section .image-one {
		margin-left:0;
		float: right;
	}
	.about-section-seven .image-box {
		margin-bottom: 40px;
	}
	.timeline-block .shape {
		display: none;
	}
	.timeline-block li {
		padding-left: 50px;
	}
	.timeline-block li:nth-child(even) {
		padding-right: 50px;
	}
	.testimonial-section-eleven .testimonial-outer {
	    transform: translateY(120px);
	    margin-top: 50px;
	}
	.testimonial-block-seven .logo {
	    position: relative;
	    top: 0;
	    left: 0;
	}
	.testimonial-block-seven .content,
	.testimonial-block-seven .image {
		width: 100%;
	}
	.testimonial-section-eleven .client-block:nth-child(5) {
	    left: 45%;
	    top: -30%;
	}
	.testimonial-section-eleven .client-block:nth-child(4) {
		bottom: 15%;
	}
	.testimonial-section-eleven .client-block:nth-child(7) {
		right: 0%;
	}
	.testimonial-section-eleven .client-block:nth-child(6) {
		top: 60%;
	}
	.testimonial-section-eleven .client-block:nth-child(3) {
		bottom: -25%;
	}
	.faq-section-five .contact-form-area {
		margin-bottom: 30px;
	}
	.contact-section.style-five .right-column, 
	.contact-section.style-five .left-column {
		padding-left: 15px;
		padding-right: 15px;
	}
	.contact-section.style-five .left-column .inner-container {
		margin-left: 0;
	}
	.contact-section.style-five .contact-form-box {
		margin-left: 0;
	}
	.contact-section.style-five .inner-container {
		max-width: 100%;
	}
	.cart-section .apply-coupon {
		margin-bottom: 20px;
	}
	.blog-single-post .share-icon .social-links li {
		margin-bottom: 15px;
	}
	.download-pdf .right-column,
	.download-pdf .left-column {
		width: 100%;
		padding-left: 50px;
		padding-right: 50px;
	}
	.download-pdf .left-column .inner-box {
		margin-left: 0;
	}
	.header-style-four .header-middle {
		display: none;
	}
	.testimonial-block-four .content {
		width: 100%;
	}
	.features-section-four .wrapper-box {
	    margin-top: 0;
	}
	.main-header.header-style-three .header-upper {
	    margin: 0;
	    transform: translateX(0);
	}
	.main-header.header-style-three .navbar-right-info {
		display: none;
	}
	.cta-section .link-btn .btn-style-two {
		margin-bottom: 0px;
	}
	.projects-section {
		margin-top: 0;
	}
	.about-section-two .image-block {
		margin-right: 0;
	}
	.footer-bottom {
		padding-bottom: 45px;
	}
	.main-footer.style-two .links-widget {
	    padding-left: 0;
	}

	.main-footer.style-two .links-widget .logo {
	    display: none;
	}
	.about-section-two .image-block .image-three {
		bottom: 30px;
	}
	.projects-section .nav-tabs-wrapper {
	    max-width: 100%;
	    border: 0px;
	    padding-bottom: 50px;
	}
	.projects-section .nav-tabs li .nav-link:before {
	    display: none;
	}
	.projects-section .nav-tabs li .nav-link:after {
	    display: none;
	}
	.projects-section .nav-tabs li {
	    width: auto;
	    margin-right: 25px;
	}
	.projects-section .tab-content {
	    margin: 0;
	    transform: translate(0);
	}
	.pricing-block .inner-box{
		margin-bottom:30px;
	}


	.why-choose-us-section .side-image,
	.cta-section .image-column .image,
	.main-footer .links-widget ul li a:after,
	.main-footer .links-widget ul li a:before,
	.process-block-one .inner-box::before{
		display: none !important;
	}
	.banner-section.style-five .banner-carousel .content-box,
	.banner-section.style-four .banner-carousel .content-box,
	.banner-section.style-three .banner-carousel .content-box,
	.banner-section.style-two .banner-carousel .content-box,
	.banner-carousel .content-box {
		min-height: 650px;
		padding-bottom: 0;
	}
	.clients-section {
		margin-top: 0;
	}
	.clients-section .pattern {
		left: 0;
	}
	.features-section::before {
		right: 0;
	}
	.clients-section .link-btn {
		text-align: center !important;
		margin-top: 50px;
	}
	.consult-form {
		transform: translateY(0);
		margin-bottom: -50px;
		margin-right: 0;
	}
	.process-section .sec-top .text {
		margin-bottom: 50px;
		/*top: -100px;*/
	}
	.main-footer .links-widget .widget-content {
		padding-left: 0px;
	}
	.cta-section {
		padding-bottom: 130px !important;
	}
	.faq-section-three .contact-form-area{
		margin-bottom:30px;	
	}
	.contact-form-section .live-contact .content{
		text-align:left;	
	}
	.pricing-block-three .price{
		font-size:60px;	
	}
	
	.single-team-member .social-links{
		right:0px;
	}
	
.single-team-member .author-title{
		margin-right:0px;
		margin-top:0px;
	}	
	.case-block-one .read-more-btn{
		min-height:250px;
	}	
}
@media only screen and (max-width:768px){
	.page-id-15835 h2{
		font-size: 30px !important;
	}
	.page-id-5720 .sec-title h2{
		margin:0px !important;
	}
	.page-id-5737 .elementor-heading-title {
    margin-bottom: 20px !important;
	}
	
.page-id-5747 .elementor-5747 .elementor-element.elementor-element-6b9e2ae > .elementor-widget-container{
    margin:0px !important;		
}	
.page-id-3807 .elementor-3807 .elementor-element.elementor-element-19caf91 > .elementor-widget-container {
    margin: 0px 18px 0px 18px !important;
}
.page-id-3787 .choose-section-nine{
    padding: 50px 0px 50px !important;
}	
.page-id-3787 .choose-block-nine .top .icon{
	width: 52px !important;
}
.page-id-3784 .mobresSpace, .page-id-5695 .mobresSpace, .page-id-5697 .mobresSpace, .page-id-5691 .mobresSpace{
	padding-left:15px !important;
	padding-right:15px !important;
}
.page-id-5682 .elementor-5682 .elementor-element.elementor-element-cbc14d1 {
    margin-top: 30px !important;
}
.page-id-5737 .elementor-5737 .elementor-element.elementor-element-b7f90b8 {
    margin-top: 0px !important;
	}
.page-id-5720 .testimonial-section-seven{
    padding:0px !important; 		
}	
.page-id-5720 .testimonial-block-six .author-box .author-title{
    font-size:13px !important;		
}
.page-id-5720 .testimonial-block-six .author-box .designation{
    font-size:11px !important;		      
}
.page-id-5693 .elementor-5693 .elementor-element.elementor-element-c18093b > .elementor-widget-container {
    margin: 0px 18px 0px 18px !important;
}
.page-id-3694 .funfacts-section-two .inner{
	left: 0px;
	margin-bottom:50px;
}
.page-id-5706 .elementor-5706 .elementor-element.elementor-element-0b86474 img {
    width: 90%;
}
.page-id-5737 .sidebar-page-container{
 	padding: 50px 0 0px;
}
.page-id-5735 .sidebar-page-container{
		padding:0px;
	}	
.page-id-5713 .elementor-5713 .elementor-element.elementor-element-0ce9e42 img{
		width: 90%;
	}
.page-id-5711 .elementor-5711 .elementor-element.elementor-element-0e99f03 .elementor-button {
    margin-top: 25px;
}
.page-id-5706 .service-block-eight .inner-box .img-holder{
	padding-right:0px !important;
}
.page-id-5697 .services-details .tab-content h4{
	 width: 100%;
     text-align: justify;
}
.page-id-5677 .elementor-5677 .elementor-element.elementor-element-576432e > .elementor-widget-container {
    margin: 15px 0px 0px 0px;
}
.services-details .tab-content .text{
	width: 100%;
}
.services-details .tab-content img{
	height: auto;
    width: auto;
	float: none;
}
.page-id-5665 .about-home-12{
	padding: 0px 0px;
}
.testimonial-section-ten{
	padding: 25px 0 60px;
}
.page-id-5747 .contact-form-section{
	padding-bottom: 0px;
	}
.page-id-5747 .row.sec-top{
display:none;		
	}
	.page-id-9616 .elementor-widget-container{
		margin:0px !important;
	}
.page-id-9610 .elementor-widget-container{
		margin:0px !important;
	}
.page-id-3857 .sidebar-page-container{
	padding:0px !important;
}
.page-id-5652 .sec-title {
    margin-bottom: 30px !important;
}
.page-id-5652 .elementor-widget-container {
    margin: 30px 0px 0px 0px !important;
}
.page-id-5655 .elementor-widget-container {
    margin: 40px 0px 0px 0px !important;
}
.page-id-5655 .sec-title {
    position: relative;
    margin-bottom: 30px !important;
}
.page-id-5655 .elementor-widget-container {
    padding: 0px !important;
}
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
	/*.page-id-3857*/ .sec-title.style-three h2{
		margin-top: 30px;
	}
.header-top .contact-info {
    padding-right: 15px;
}
}

@media only screen and (max-width: 767px){	
	.header-style-three .header-top-two .search-toggler {
	    display: none;
	}
	.header-style-three .header-top-two .text {
	    text-align: center;
	}
	.feature-block-two .inner-box{
		margin-top: 0px;
		margin-bottom: 120px;
	}
	.banner-section-two .text:before,
	.about-section-four .logo,
	.main-header.header-style-five .navbar-right-info,
	.services-section-three .owl-theme .owl-nav,
	.testimonial-section-four .owl-theme .owl-nav {
		display: none;
	}
	.banner-section-two .text {
		padding-left: 0;
	}
	.filter-tabs.filter-btns li span.count {
	    display: none;
	}
	.filter-tabs.filter-btns li:before {
	    display: none;
	}
	.filter-tabs.filter-btns li {
	    padding-bottom: 20px;
	}
	.news-block-six .lower-content {
		padding-left: 20px;
		padding-right: 20px;
	}
	.news-block-one.style-two .inner-box {
		margin-left: 0;
	}
	.blog-single-post .lower-content {
	    margin: 0 20px;
	    padding: 0;
	}
	.timeline-section .wrapper-box {
	    overflow-x: scroll;
	}
	.comment-box .comment-box{
		margin-left:0px;	
	}
	.contact-form-section .live-contact .content{
		text-align:left;	
	}
	.news-block-one.style-two .image{
		margin-right:0px;	
	}
	.blog-single-post .row.py-4 .col-md-3 img{
		width:100%;
		height:auto;
	}
	.project-details .project-info-wrapper{
		margin-bottom:50px;
	}
	.woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-1, .woocommerce-page .col2-set .col-2{
		width:100%;
		float:none;
		max-width: 100% !important;
	}
	.woocommerce .col2-set .col-2,.woocommerce-page .col2-set .col-2{
		margin-top:40px;
	}
	.woocommerce table.shop_table{
		border:1px solid #f3f3f3;
	}
	.woocommerce .shop_table tbody tr.cart_item td{
		padding:15px;
	}
	.woocommerce .shop_table tbody tr td.actions{
		padding:15px !important;
	}
	.woocommerce .shop_table tbody tr td.actions .coupon{
		display:block;
	}
	.woocommerce-cart table.cart td.actions .coupon .input-text{
		width:100%;
		margin-bottom:15px;
	}
	.case-block-one .read-more-btn{
		min-height:238px;
	}
	.main-header.header-style-15 .header-upper .logo-box .logo{
		max-width:175px;	
	}
}
/* suguna */
@media only screen and (min-width: 320px) and (max-width:767px){
	.service-block-five h4{
		font-size: 15px;
	}
	.service-block-five .inner-box .content-box{
		padding: 40px 0px 20px 128px;
	}
}
/* suguna */
@media only screen and (max-width: 600px){
	.banner-carousel .content-box{
		justify-content: center !important;
	}
	.project-details .top-box{
		text-align:center;
	}
	.project-details .project-info .social-links li{
		float:none;
		display:inline-block;
	}
	.team-details-section .col-sm-5,.team-details-section .col-sm-7 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.single-team-member{
		margin-right:0px;
	}
	.single-team-member .inner-box{
		margin-bottom:60px;
	}
	.single-team-member .image,
	.single-team-member ul.info-list{
		text-align:center;
	}
	.single-team-member .image img{
		width:auto;
	}
	.single-team-member .author-title{
		margin-right:0px;
		margin-top:0px;
		text-align:center;
	}
	.cart-section .coupon-outer .theme-btn,
	.cart-section .apply-coupon .form-group input[type="text"],
	.cart-section .coupon-outer .pull-left{
		width:100%;
	}
	.woocommerce .woocommerce-form-coupon p{
		float:none;
		width:100%;
	}
	.case-block-one .read-more-btn{
		min-height:180px;
	}
}

@media only screen and (max-width: 575px){
	.about-section-six .experience-years-block {
	    text-align: center;
	}

	.about-section-six .experience-years-block .text {
	    position: relative;
	    top: 0;
	    left: 0;
	    transform: translate(0);
	    margin: 0 auto;
	    margin-top: 30px;
	}
	.main-header.header-style-12 .navbar-right-info,
	.header-style-15 .nav-outer .search-btn {
		display: none;
	}
	.header-style-15 .nav-outer .mobile-nav-toggler{
		margin-right:0px;	
	}
	.about-section-six .experience-years-block:before {
	    right: 0;
	}
	.about-section .image-two {
		margin-top: 0;
	}	
	.about-section-seven input {
	    width: 100%;
	}
	.about-section-seven .theme-btn {
	    position: relative;
	    margin-top: 15px;
	}
	.myaccount-section .login-inner .other-option {
		display: none;
	}
	.myaccount-section .register-inner .text {
		position: relative;
		margin-top: 20px;
	}
	.about-section-two .image-block .image-three {
	    position: relative;
	    right: 0;
	}
	.footer-bottom .social-links {
		margin-top: 30px;
	}
	.header-style-two .header-top .social-links {
		display: none;
	}
	.banner-carousel .content-box.style-two h2,
	.banner-carousel .content-box h2 {
		font-size: 30px !important;
	}
	
	.header-style-three .header-top .contact-info {
	    justify-content: center;
	}
	.testimonial-section .testimonial-thumbs .logo,
	.main-header .header-top .language,
	.about-section .image-one,
	.about-section .logo {
		display: none;
	}
	.consult-form .contact-form {
		padding: 25px 20px;
	}
	.sec-title h2,
	.consult-form h2 {
		font-size: 30px;
	}
	.feature-block-two .inner-box {
    	padding-left: 32px;
	}
	.feature-block-two .icon {
	    position: relative;
	    top: 0;
	    left: 0;
	    margin-bottom: 20px;
	}
	.feature-section-two .feature-block-two:last-child .inner-box {
		padding-top: 40px;
	}
	.feature-block-two:last-child .inner-box {
	    padding-top: 0;
	}
	.experience-section .experience-wrapper .image img {
		opacity: 0;
	}
	.experience-section .experience-wrapper h1 {
		display: none;
	}
	.case-block-three .lower-content {
		position: relative;
		margin: 0;
		margin-top: -80px;
	}
	.footer-bottom-two .scroll-to-top-two {
		margin-bottom: 25px;
	}
	.faq-section .question-icon {
		display: none;
	}
	.testimonial-section-six .pointer-block .point,
	.testimonial-section-six .pointer-block .content {
		display: none;
	}
	.banner-section-two .theme-btn {
		margin-bottom: 15px;
	}
	.news-block-six .post-share-btn {
		display: none;
	}
	.blog-post-pagination .prev-post {
	    width: 100%;
	}
	.blog-post-pagination .next-post {
	    width: 100%;
	}
	.blog-post-pagination:after {
	    display: none;
	}
	.blog-single-post .lower-content {
	    margin: 0;
	}
	.blog-single-post .author-box {
	    padding-left: 40px;
	}
	.blog-single-post .author-box .image {
	    position: relative;
	    left: 0;
	    top: 0;
	    margin-bottom: 20px;
	}
	.comments-area .comment {
	    padding-left: 0;
	}
	.comments-area .comment-box .author-thumb {
	    position: relative;
	}
	.single-shop-area .products-carousel {
	    min-height: 390px;
	    margin-bottom: 30px;
	}
	.navbar-right-info{
		margin:25px 0px 25px 30px;
	}
	.banner-carousel .content-box .btn-box .theme-btn{
		margin-bottom:20px;	
	}
	.features-section-two .content-block{
		padding-left:120px;	
	}
	.features-section-two .btn-style-four .btn-title{
		padding:13px 30px;	
	}
	.contact-section .subscribe-newsletter .form-group input{
		padding-right: 0px;	
	}
	.contact-section .subscribe-newsletter .form-group button.btn-style-four{
		position: relative;
    	right: 0px;
		top: 10px;
		width: 100%;	
	}
	.footer-bottom-three .bottom-area ul li{
		margin-right:5px;	
	}
	.testimonial-section-five .swiper-nav-button{
		bottom:0px;	
	}
	.project-block-two .content{
		padding:30px;	
	}
	.search-popup .search-form fieldset input[type="submit"]{
		position:relative;
		width: 100%;
		margin-top: 20px;
		border-radius: 7px;	
	}
	.cta-section-two .contact-info{
		margin-bottom:20px;	
	}
	.faq-section-three .contact-form-area{
		margin-bottom:30px;	
	}
	.contact-form-section .live-contact .content{
		text-align:left;	
	}
	.timeline-block{
		min-width:100%;
	}
	.timeline-block:before{
		display:none;
	}
	.timeline-block li{
		width:100%;
		padding-left:0px;
		padding-bottom:30px;
		margin-bottom:30px;
		border-bottom:2px solid #eeeeee;
	}
	.timeline-block li:after{
		top:auto;
		bottom:-16px;
		left:50%;
	}
	.timeline-block li:before{
		top:auto;
		bottom:-26px;
		left:50%;
	}
	.timeline-block li:nth-child(even):before,
	.timeline-block li:nth-child(even):after{
		right:50%;
	}
	.timeline-block li:nth-child(even){
		padding-right:0px;
		transform: translateY(0px);
	}
	.timeline-block li:last-child{
		padding-bottom:0px;
		margin-bottom:0px;
		border-bottom:none;
	}
	.timeline-block li:last-child:before,
	.timeline-block li:last-child:after{
		display:none;
	}
	.search-popup .search-form fieldset{
		border:none;
	}
}	

@media only screen and (max-width: 479px){
	.project-block-two .text{
		display:none;	
	}
	.project-block-two .content{
		padding:20px;	
	}
	.col-lg-4.feature-block-six{
		padding-left: 0px;
		padding-right: 0px;
	}
	.download-pdf .right-column, .download-pdf .left-column{
		padding-left:20px;
		padding-right:20px;	
	}
	.banner-section-two h2{
		font-size:52px;
	}
	.contact-section-two .contact-form-area{
		padding:25px;
	}
	.whay-choose-block .icon{
		position:relative;
		margin-bottom:60px;	
	}
	.whay-choose-block .inner-box,
	.pricing-block .lower-content ul li{
		padding-left:0px;	
	}
	.feature-block-six .inner-box{
		padding: 9px;	
	}
	.feature-block-six h4{
		text-align: left !important;
	}
	.feature-block-six .icon{
		position:relative;
		left:0px;
		margin-bottom:20px;	
	}
	.testimonial-block-three .inner-box{
		margin-left:15px;	
	}
	.cta-section-two h2{
		font-size: 30px;
		font-weight: 600;
		padding-left: 85px;	
	}
	.team-details-section .timeline li:before{
		position:relative;
		left:0px;
		margin-bottom:20px;
		display:block;	
	}
	.team-details-section .timeline{
		margin-left:0px;	
	}
	.testimonial-block-six .top-content{
		padding-left:45px;	
	}
	.testimonial-block-six .top-content{
		margin-left:15px;	
	}
	.services-details .content-side .image-slide .content{
		position:relative;
		right:0px;	
	}
	.contact-section.style-five .contact-form-box,
	.faq-section-five .contact-form-area{
		padding:20px;	
	}
	.contact-info-block-three .inner-box{
		padding-left:70px;	
	}
	.page-title .content-box h1{
		font-size:34px;	
	}
	.pagination li{
		margin:3px;	
	}
	.news-block-one.style-two .image{
		margin-right:0px;	
	}
	.blog-single-post .author-box h5 a{
		word-break:break-all;
	}
	.cart-section .coupon-outer .pull-left,
	.cart-section .apply-coupon .form-group,
	.cart-section .apply-coupon .form-group input[type="text"],
	.cart-section .apply-coupon .form-group .coupon-btn,
	.cart-section .coupon-outer .cart-btn,
	.cart-section .apply-coupon .form-group{
		width:100%;
	}
	.woocommerce-page table.cart td.actions .coupon .button{
		float:none;
		width:100%;
	}
	.footer-style-12 .footer-top .footer-widget ul li{
		width:100%;
		display:block;	
	}
}
@media only screen and (width: 768px){
	.feature-block-six .inner-box{
		padding: 30px !important;
		padding-left: 50px !important;
	}
	.feature-block-six h4{
		text-align: left !important;
	}
	.feature-block-six .icon:nth-child(3){
		position: absolute;
	}
}
@media only screen and (max-width: 1024px){
	.page-id-3807 .service-block-six{
		margin-bottom:25px !important;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 2560px){
.page-id-3694 .market-leaders-max p:nth-child(3) {
    max-height: 84px;
    height: 84px;
}
.page-id-3694 .suguna_family > .container > .row > div:nth-child(3) > .market-leaders-max p:nth-child(2){
    max-height: 178px;
    height: 178px;
}
}







